@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #2A8C82,#41BFB3,#9BF2EA,#275950);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(119, 117, 117, 0.507);
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;
}
h1{
    color: #260101;
    text-align: center;
}
h2{
    color: #275950;
}