@charset "UTF-8";

/*declarações gerais*/

    @media all {
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        }

        html,body{
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #233eff;
        }

        h1{
        padding: 10px;
        color: white;
        text-shadow: 2px 2px 0px #1728a5;
        }
    }

/* declarações retrato */

    @media screen and (orientation:portrait){
        body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
        }
    }

/* declarações paisagem */

    @media screen and (orientation:landscape) {
    body{
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
        } 
    }